.env
.env.local

node_modules/
dist/
build/

__pycache__/
**/__pycache__/
*.pyc
.venv/
venv/

uploads/

*.db
learnsphere.db

.DS_Store
Thumbs.db
.vscode/

terraform/.terraform/
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.Zone.Identifier
terraform/learnsphere-key
terraform/*.tfvars
